.container {
    display: flex;
    border: 2px solid black;
    width: 1100px;
    height: 720px;
}

nav {
    background: linear-gradient(rgb(238, 68, 175),pink);
    width: 200px;
    height: 720px;
}
 
header {
    background: linear-gradient( rgb(234, 171, 54),rgb(245, 245, 142));
    width: 900px;
    height: 200px;
    display: flex;
}

.ketiga {
    display: flex;
}

article {
    background-color: white;
    width: 650px;
    height: 300px;
    
}

aside {
    background: linear-gradient( rgb(49, 59, 247), rgb(50, 225, 231));
    width: 250px;
    height: 310px;
}

footer {
    background: linear-gradient(  rgb(245, 245, 142),rgb(234, 171, 54));
    width: 900px;
    height: 200px;
    padding-top: 10px;
}

article h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: rgb(62, 62, 62);
    text-shadow: 2px 2px 2px goldenrod;
}

 header h1,
 footer h1,
 aside,
 nav h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin: auto;
 }

 .container2 {
    border: 2px solid black;
    width: 1100px;
    height: 725px;
    background-color: pink;
 }

 .box1 {
    background: linear-gradient(rgb(30, 192, 157),rgb(157, 255, 245));
    width: 1050px;
    height: 70px;
    margin: auto;
    margin-top: 20px;
 }

 .box2 {
    background: linear-gradient(rgb(127, 204, 197),rgb(5, 196, 56));
    width: 300px;
    height: 475px;
    margin: 25px;
 }

 .box3 {
    background: linear-gradient( rgb(251, 130, 207),rgb(245, 34, 69));
    width: 725px;
    height: 475px;
    margin-top: 25px;
 }

 .box4 {
    background: linear-gradient(rgb(179, 255, 249),rgb(30, 192, 157));
    width: 1050px;
    height: 70px;
    margin: auto;
    margin-bottom: 20px;
 }

 img {
    width: 200px;
    height: 170px;
    margin: auto;
    margin-bottom: 25px;
}

.box1 h2,
.box4 h2,
.box2 h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px 2px black;
}
