nav{

    background-color: black;

    color: aliceblue;

}

.karyawan {

    display: flex;

    align-items: center;

    width: 40%;

    margin-left: 80px;

    justify-content: space-between;

}

a{

    text-decoration: none;

    color: beige;

}

form{

    width: 40%;

    margin: auto;

}